.children {
    margin:3rem;
    margin-bottom: 0;
}
.navbar {
    width:100%;
    height:50px;
    padding-top:14px;
    padding-left:10px;
}

a.link {
    color:white;
    text-decoration:none;
    margin-right: 3.5rem;;
    opacity:0.5;
}

a.link.active {
    opacity:1;
}

a > i {
    opacity:1;
    margin-left: 1rem;
}

.navbar{
  background-color: #004C99;
}

.link {
  font-weight: bold;
}

.App {
  /*background-image: url('https://s-media-cache-ak0.pinimg.com/originals/83/26/04/832604d8f6feb52e87a8dacc5bcfea79.jpg');*/

}
